/* About Section */
.about {
  padding: 60px 20px;
  background-color: #222;
  color: #fff;
  text-align: center;
}

.about h2 {
  color: var(--primary-color);
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.about-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.about-content img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}

.about-content p {
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Adjustments for medium screens */
@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    text-align: left;
  }

  .about-content img {
    max-width: 50%;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .about-content p {
    max-width: 50%;
  }
}

/* Adjustments for small screens */
@media (max-width: 768px) {
  .about-content img {
    max-width: 60%;
  }

  .about-content p {
    font-size: 1em;
    padding: 0 10px;
  }
}

/* Adjustments for very small screens (less than 480px) */
@media (max-width: 480px) {
  .about-content img {
    max-width: 45%;
    height: auto;
    margin-bottom: 10px;
  }

  .about-content p {
    font-size: 0.9em;
    line-height: 1.4;
    padding: 0 5px;
  }
}
